@-ms-viewport{
  width: device-width;
}

body {
  background-color: black;
  text-align: center;
  width: 100%; 
  height: 100%;
  padding-top: 10%;
    
}

img {
    
   display: block;
  margin: auto;
  max-width: 600px;
  
 padding-bottom: 20%;
}


@media only screen and (max-width: 1000px) {
  body {
    background-color: black;
      
  }
    
    img {
      
      left: 50%;
      right:50%;
      max-width: 100%;
      min-wdith:30%;
      padding-bottom: 30%;
  
  }
    
}

}

